@import url('Form.css');

*{
    transition: all 0.4s ease;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

html, body{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    background-color: #EAEEF1;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    font-family: 'Poppins', sans-serif;
}
    a{
        text-decoration: none;
        color: black;
    }

    ::-webkit-scrollbar{
        display: none;
    }

#loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 100;
    overflow: visible;
    background: white url('../../ASSETS/IMAGES/loader.gif') no-repeat center center;
    background-size: 20%;
}

/*  HEADER  */
.padding20{
    padding: 20px;
}
.navbar{
    width: 10rem;
    height: 100vh;
    position: fixed;
    background-color: rgba(122,172,94,0.5);
    transition: width 200ms ease;
    z-index: 50000;
}

.navbar-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 100%;


}

.nav-item{
    width: 100%;
}

.u-bottom{
    margin-top: auto;
}

.nav-link{
    display: flex;
    align-items: center;
    height: 3rem;
    color: white;
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: 600ms;
}

.link-text{
    color: black;
}

.nav-link i{
    margin: 0 1.5rem;
}


.nav-link:hover{
    filter: grayscale(0%) opacity(1);
    background: #EAEEF1;
}
    .nav-link:hover .link-text{
        color:rgb(100,161,67);
    }
.nav-item.active{
    background: #EAEEF1;
}




.logo{
    font-size: 30px;
    font-weight: 700;
    color: gray;
    max-width: 120px;
    margin-bottom: 20px;
    cursor:default;
}
    .logo img{
        max-width: 100%;
    }



.user{
    transition: all 0s ease !important;
    width: 100px;
    color: black;
    font-size: 15px;
    font-weight: 200;
    text-align: center;
    margin-left: 10px;
}
    .user span{
        font-weight: 100;
    }

    .user.active {
        color: white;
        background-color: rgb(100,161,66);
    }

.header{
    margin-bottom: 10px;
}

#Logout{
    color: rgba(0,0,0,0.5);
    background: none;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}

    .Logout:hover i.ri-logout-box-r-line,button#Logout:Hover{
        color: crimson;
    }
  
/* DIV BLOCKS */

.content {
    display: none;
    background: #EAEEF1;
  }

.content-section{

    background: rgb(234,238,241);
}

.content-text{
    margin-left: 25px;
}
/* TABLE */
table{
    padding: 20px;
    text-align: center;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
}
    th{
        font-size: 11px;
        padding: 10px;

    }
    tr{
        background-color: rgba(128, 128, 128,0.1);
        padding: 5px;
    }

    td{
        padding: 10px;

    }
    th, td{
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;

    }

    tr td {
        border: 1px solid rgba(0,0,0,0.2);
        border-right: none;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        
      }

        td.middle{
            border-left: none;
            border-radius: 0;
        }

        td.right{
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            border-left: none;
            border-right: 1px solid rgba(0,0,0,0.2);
        }
        td > button{
            border: 0.5px solid transparent;
            background-color: rgba(0,0,0,0.1);
            border-radius: 5px;
            padding: 5px;
            color: black;
            cursor: pointer;
            width: 25px;
        }


.odd {
    background-color: #F0F0F0;
}



.even {
    background-color: rgba(122,172,94,0.5);
}

/*STYLES */
.centered {
    position: absolute;
    margin-left: 160px;
    height: 100vh;
    left: 0;
    right: 0;
    padding: 50px;
}

.centered table {
    margin: 0 auto;
}